/* Анимация появления и исчезновения */
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s ease, transform .5s ease; /* Плавный переход */
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0; /* Начальное состояние - невидимый */
    transform: translateY(-15px); /* Дополнительный эффект - смещение */
}

@keyframes shake {
    0% {
        color: #d24d4d;
        border-color: #d24d4d;
    }
    10%, 90% {
        transform: translateX(-0.5px);
    }
    20%, 80% {
        transform: translateX(1px);
    }
    30%, 50%, 70% {
        transform: translateX(-2px);
    }
    40%, 60% {
        transform: translateX(2px);
    }

    99% {
        color: #d24d4d;
        border-color: #d24d4d;
    }
    100% {
        border-color: initial;
    }
}
.shake {
    animation: shake 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
}

.shake-enter-active,
.shake-leave-active {
    transition: shake 1.5s ease;
}

.flipped
{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
