body {
    color: #2d034d;
    line-height: 1.4;
    .-akayaKanadaka-font {
        font-family: AkayaKanadaka, serif;
    }

    .-sriracha-font {
        font-family: Sriracha, serif;
    }

    .-gabriela-font {
        font-family: Gabriela, serif;
    }
}

mark {
    background-color: #e75e6c;
    color: wheat;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 3px;
}
.demo-block {
    padding: 25px 0;
    &.-stand-left {
        .stand {
            justify-content: start;
        }
    }
    .text-description {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .stand {
        display: flex;
        justify-content: end;
    }


    .heading {
        font-size: 32px;
    }
}
.-shadow {
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 3px 7px 0 grey;
}
.note-card {
    display: flex;
    flex-direction: column;
    position: relative;
    .card-number {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-top: auto;
    }
    &.-small {
        p {
            font-size: 14px;
        }
        ul li {
            font-size: 13px;
            margin-bottom: 8px;
        }
        width: 460px;
        height: 572px;

        .heading-h1 {
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 15px;
        }

        .heading-h2 {
            font-size: 18px;
            margin-top: 12px;
            margin-bottom: 15px;
        }
    }
    .questions-card {
        height: 100%;
        padding-top: 0;

        .note-item-wrap {
            display: flex;
            flex-direction: column;
            position: relative;
            .card-number {
                position: absolute;
                bottom: 0;
                right: 0;

            }
        }
    }
    .questions-block {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        .absolute-wap {
            position: absolute;
            width: 100%;
        }
        .quesion-text {
            font-size: 20px;
            margin-bottom: 15px;
        }

        .text-hint {
            min-height: 24px;
            font-style: italic;
            font-size: 16px;
        }
        .questions-footer {
            margin-top: auto;
            margin-bottom: 12px;
            display: flex;
            .page-counter {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
            .buttons-bar {
                display: flex;
                justify-content: flex-end;
                margin-left: auto;
                .btn:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }


        .questions-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            .btn.question-item {
                font-size: 18px;
                width: 100%;
                padding: 10px;
                border: 1px solid black;
                margin-bottom: 15px;
                cursor: pointer;
                border-radius: 5px;
                text-align: left;
                &.-success {
                    border-color: #55c11d;
                    color: #55c11d;
                }
            }
        }
    }
}

.card-editor-menu {
    border: 1px solid #300b52;
    border-radius: 8px;
    padding: 20px 10px 6px;
    margin-bottom: 15px;
    width: 460px;
    max-height: 78px;

    .menu-wrap {
        display: flex;
        .menu-item {
            cursor: pointer;
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            min-width: 60px;

            &.-visible {
                margin-right: 12px;
                .annotation {
                    opacity: 1;
                }
            }
            .icon {
                width: 32px;
                height: 32px;

                svg {
                    width: 32px;
                    height: 32px;

                    use{
                        fill: #300b52;
                    }
                }
            }

            .annotation {
                font-size: 12px;
                opacity: 0;
            }

            &:hover {
                .annotation {
                    transition: .8s;
                    opacity: 1;
                }
            }
        }

    }
}
