body {
    color: #2d034d;




    .-akayaKanadaka-font {
        font-family: AkayaKanadaka, serif;
    }

    .-sriracha-font {
        font-family: Sriracha, serif;
    }

    .-gabriela-font {
        font-family: Gabriela, serif;
    }
}
